@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

body {
    background: teal;
    font-family: 'Sora', sans-serif;
}

header  {
    text-align: center;
}

form {
    
    display: flex;
    flex-direction: column;
    gap:15px
}

.form__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.form__block input {
    flex-grow: 1;
    font-size: 25px;
    padding:0 15px;
}

.form__block button {
    padding:5px;
    font-size: 25px;
}

.wrapper-list {
    margin-top: 20px;
}

.parent__href {

    display: inline-block;
    color:#000;
    transition:.3s;
}

.parent__href:hover {
    color:#000;
}


.list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-bottom: 15px;
    background-color: beige;
    border-radius: 20px;
    transition: .3s;
    padding:5px 10px
}

.list-box:hover {
    transform: scale(.99);

}

.list-box__image {
    width: 200px;

}

.list-box__image img {
    width: 100%;
    height: 200px;
}

.list_box__href {

    font-size: 18px;
    color:#000;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list_box__href:hover {
    color:#000;
    

}

.list-box__items {
  
    display: flex;
    flex-direction: column;
}
